In [1]:
import nltk

In [2]:
nltk.download('names')

[nltk_data] Downloading package names to
[nltk_data]     C:\Users\sushm\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\names.zip.

True

In [11]:
def gender_features(word):
    return {'last_letter':word[-1]}

gender_features('Obama')

{'last_letter': 'a'}

In [12]:
from nltk.corpus import names
names.words()
print(len(names.words()))

7944

In [13]:
labeled_names=([(name,'male') for name in names.words('male.txt')] +[(name,'female') for name in names.words('female.txt')])

In [18]:
import random
random.shuffle(labeled_names)
featuresets = [(gender_features(n),gender) for (n,gender) in labeled_names]
train_set,test_set = featuresets[:5000],featuresets[2000:]

import nltk
classifier = nltk.NaiveBayesClassifier.train(train_set)
classifier.classify(gender_features('David'))
classifier.classify(gender_features('Yann Lecun'))
print(nltk.classify.accuracy(classifier,test_set))

0.7649730820995962

In [19]:
import numpy as np
import pandas as pd

In [20]:
df=pd.read_csv(r"C:\Users\sushm\Downloads\logs_dataset.csv")

In [21]:
df.head()

                    @timestamp                   _id  ip_address
0  July 8th 2019, 14:43:03.000  XswJ0msBoTGddM7vxMDB  10.1.1.285
1  July 8th 2019, 14:43:01.000  dKQJ0msB7mP0GwVzvJjz  10.1.2.389
2  July 8th 2019, 14:42:59.000  CcwJ0msBoTGddM7vtb8y  10.1.1.415
3  July 8th 2019, 14:42:57.000  bKQJ0msB7mP0GwVzrZdT   10.1.1.79
4  July 8th 2019, 14:42:55.000  L6QJ0msB7mP0GwVzpZeI   10.1.1.60

In [22]:
len(df)

721547